{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <img src="{{ asset('img/logo.jpg') }}" class="float-left logo" style="height: 96px;" alt="Logo">
        <div class="container col-md-7 col-sm-9 frontpage_title" style="background-color: white;">
            <h1 class="text-center front_title" style="background-color: white;margin:0;">Training Centrum Den Haag</h1>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('aanbod') }}">Trainingsaanbod <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register') }}">Lid worden</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('gedrag') }}">Gedragsregels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username">
                <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
                <button class="btn my-2 my-sm-0" type="submit">Login</button>
            </form>
        </div>
    </nav>
    <br>
    <h1></h1>
    <br>
    <br>
    <div id="test" class="container">
    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th>Description</th>
            <th>Duration</th>
            <th>Extra Cost</th>
        </tr>
        </thead>
        <tbody>
        {% for aanbod in aanbod %}
        <tr>
            <td>{{ aanbod.description }}</td>
           {% if aanbod.duration|date('H:i') >= DateTime('01:00:00') %}
                <td>{{ aanbod.duration|date('H') }} "uur"</td>
           {% elseif aanbod.duration|date < 01:00:00 %}
               <td>{{ aanbod.duration|date('i') }} "min"</td>
           {% endif %}
            <td>{{ aanbod.extracost }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}