{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <img src="{{ asset('img/logo.jpg') }}" class="float-left logo" style="height: 96px;" alt="Logo">
        <div class="container col-5 frontpage_title" style="background-color: white;">
            <h1 class="text-center front_title" style="background-color: white;margin:0;">Training Centrum Den Haag</h1>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('aanbod') }}">Trainingsaanbod</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register') }}">Lid worden</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('gedrag') }}">Gedragsregels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{{ path('homepage') }}" method="post">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control mr-sm-2"  placeholder="Username" aria-label="Username">
                <input type="password" id="password" name="_password" required="required" class="form-control mr-sm-2"  placeholder="Password" aria-label="Password">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn my-2 my-sm-0" type="submit">Login</button>
            </form>
        </div>
    </nav>


        <img src="https://www.modells.com/on/demandware.static/-/Sites-Modells-Library/default/dw70306f10/CategoryLanding/Fitness-and-Activities/Boxing%20&%20MMA/cat-landing-fitness-boxing-hero-012318.jpg" class="img-fluid" alt="Responsive image" style="background-color: black;">
        <div class="centered header-text">Wil je leren hoe je iemand moet uithalen?</div>
         <a class="button" href="{{ path('register') }}">Schrijf je in</a>
    <div class="content">
         <h2 class="section-header">Boksen bij Trainingcentrum Den Haag</h2>

        <div class="container">
            <div class="p-container">
                <p>Bij Trainingcentrum Den Haag draait het om recreatief boksen.
                Wij bieden tijdens de lessen een mooie combinatie van technisch en conditioneel boksen.
                Onze trainers zijn zeer ervaren boksers met wedstrijd ervaring. Hierdoor werk je niet alleen aan je conditie, maar leer je ook technisch goed boksen.
                Daarmee onderscheiden we ons van de meeste sportscholen.</p>
<br>
                <p>Er wordt getraind door middel van combinaties van diverse boksstoten (directe, hoek, opstoot) op elkaars handschoenen.
                Ook leer je om stoten af te weren.
                Daarnaast kan het trainen op de bokszak onderdeel van de les uitmaken. Bij het sparren geldt bij SportMindz de regel dat de deelnemers elkaar op het lichaam proberen te raken en niet op het hoofd richten.
                Sparren vereist snelheid, goed voetenwerk en doet een flink beroep op je conditie.</p>
                <img src="https://zeistinbeeld.nl/wp-content/uploads/2015/09/OOZ__150921_4135_Zeist_Mel_Boas.jpg" alt="rip" class="img-thumbnail" style="max-width:40%; margin-right:20px;">
                <img src="https://teamerrolparris.nl/img/boksschool-oss-lb52.jpg" alt="rip" class="img-thumbnail" style="max-width:40%">
            </div>
        </div>
    </div>


    <div id="footer">
        <div class="lookWrap">
            <div id="look">
                <div class="section">
                    <h3>Support</h3>
                    <a href="#">FAQs</a>
                    <a href="#">Neem contact op</a>
                    <a href="#">Privacybeleid</a>
                </div>
                <div class="section">
                    <h3>Media</h3>
                    <a href="#">Reviews</a>
                    <a href="#">Sponsor</a>
                </div>
                <div class="section">
                    <h3>Volg ons</h3>
                    <a href="#">Facebook</a>
                    <a href="#">Twitter</a>
                    <a href="#">Pinterest</a>
                    <a href="#">Sponsor</a>
                </div>
                <div class="section">
                    <h3>Over ons</h3>
                    <a href="#">Ons bedrijf</a>
                    <a href="#">Verklaring</a>
                    <a href="#">Het Team</a>
                </div>
            </div>
        </div>
        <div class="legality">
            © Copyright 2018 k2strijders
        </div>
    </div>

{% endblock %}



{% block stylesheets %}
    <style>

        body{
            background-color: black !important;
        }

        .container-fluid{
            background-color: white;
            height: 106px !important;
        }

        .content{
            background-color: black;
        }

        .p-container{
            padding-top: 10px;
            padding-bottom: 60px;
        }

        .front_title{
            color: red;
            text-align: center;
            vertical-align: middle;
            line-height: 90px;
        }

        .logo{
            margin-top: 10px;
        }

        .container-fluid{
            height:96px;
        }

        .navbar{
            position: absolute;
            width: 100%;
        }

        .header-text
        {
            color:white;
            font-size: 3.4375rem;
            text-transform: uppercase;
            font-weight: 600;
            text-shadow: 1px 1px #000;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .button {
            position: absolute;
            top: 65%;
            left: 29%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: #ff0000;
            color: white;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
        }

        .button:hover {
            background-color: darkred;
            text-decoration: none;
            color:white;
        }

        .section-header {
            margin-bottom: 0;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            background-color: black;
            color: white;
            text-align: center;
            padding-top: 20px;
        }

        .container{
            background-color: black;
            color: white;
        }

        .section a{
            color: #f2f2f2;
            text-decoration: none;
        }

        .section a:hover{
            color: red;
            text-decoration: none;
        }

        #footer{
            margin-bottom: -150px;
            clear: both;
        }

        .lookWrap{
            position: relative;
            background-color: black;
            float: left;
            width: 100%;
        }

        #look{
            margin: auto;
            width: 700px;
        }

        .section{
            overflow: hidden;
            float: left;
            display: inline;
            width: 160px;
            margin: 0 15px 15px 0;
            font: 10pt verdana;
            line-height: 1.6em;
        }

        .section h3{
            font-weight: normal;
            font: 12pt Georgia;
            text-transform: uppercase;
            color: #f2f2f2;
        }

        .section a{
            display: block;
        }

        .legality{
            margin: auto;
            width: 700px;
            text-align: center;
            clear: both;
            font: 10pt verdana;
            line-height: 2em;
            padding: 40px 0 0 0;
            background-color: black;
            color: white;
        }
    </style>
{% endblock %}